@import "./mixi.styl"
*
  margin 0
  padding 0
ul, ol
  list-style none
a
  text-decoration none
  color #000
body, html
  line-height: 1
  font-weight: 200
  font-size 16px
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif
  pre
    white-space pre-line
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif
h1, h2
  font-weight normal
.clearfix
  display: inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
.text-center
  text-align center
